.App > .app-header {
  display: flex;
  height: 64px;
  min-height: 64px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding-left: 64px; }
  @media screen and (max-width: 960px) {
    .App > .app-header {
      padding-left: 0px; } }

.App > .app-tabs {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 64px;
  max-width: 64px;
  z-index: 4;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .App > .app-tabs {
      height: 50px;
      max-height: 50px;
      max-width: 100%;
      width: 100%;
      top: initial;
      bottom: 0px; } }

.App > .app-content {
  padding-top: 64px;
  margin-left: 64px; }
  @media screen and (max-width: 960px) {
    .App > .app-content {
      margin-left: 0px;
      padding-bottom: 50px; } }
  .App > .app-content > .app-layout {
    padding: 11px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; }
