html, body {
  font-family: "Roboto", sans-serif !important;
  margin: 0 auto;
  background-color: #ffffff !important; }
  @media screen and (max-width: 960px) {
    html, body {
      background-color: #f9f9f988 !important; } }

body {
  height: auto !important; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.display-none {
  display: none; }

.display-none-strict {
  display: none !important; }

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; }

.text-primary {
  color: #3ebbb3; }

.text-success {
  color: #4CAF50; }

.text-warning {
  color: #f44336; }

.text-info {
  color: #2196f3; }

.text-error {
  color: #f44336; }

.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.inline-flex {
  display: inline-flex; }

.flex-align-center {
  align-items: center; }

.flex-justify-center {
  justify-content: center; }

.flex-center {
  align-items: center;
  justify-content: center; }

.flex-justify-end {
  justify-content: flex-end; }

.flex-justify-start {
  justify-content: flex-start; }

.flex-justify-space-between {
  justify-content: space-between; }

.flex-align-end {
  align-items: flex-end; }

.flex-align-start {
  align-items: flex-start; }

.oveflow-hidden {
  overflow: hidden; }

.font-weight-700 {
  font-weight: 700; }

.btn {
  min-width: 80px; }
  .btn.outline {
    color: #3ebbb3;
    border-color: #3ebbb3; }

@keyframes slide-up-anim {
  from {
    transform: translateY(20px); }
  to {
    transform: translateY(0px); } }

.slide-up {
  animation: slide-up-anim 0.3s ease-out; }

.only-mobile {
  display: none; }

@media screen and (max-width: 960px) {
  .only-mobile {
    display: block; } }

@media screen and (max-width: 960px) {
  .hide-mobile {
    display: none; } }

@media screen and (max-width: 960px) {
  .hide-mobile-strict {
    display: none !important; } }

@media screen and (min-width: 961px) {
  .hide-desktop-strict {
    display: none !important; } }

.only-mobile-strict {
  display: none !important; }

@media screen and (max-width: 960px) {
  .only-mobile-strict {
    display: block !important; } }

.only-mobile-inline {
  display: none; }

@media screen and (max-width: 960px) {
  .only-mobile-inline {
    display: inline-block; } }

.only-mobile-inline-strict {
  display: none !important; }

@media screen and (max-width: 960px) {
  .only-mobile-inline-strict {
    display: inline-block !important; } }

.only-mobile-inline-flex-strict {
  display: none !important; }

@media screen and (max-width: 960px) {
  .only-mobile-inline-flex-strict {
    display: inline-flex !important; } }

.only-desktop-inline-flex-strict {
  display: inline-flex !important; }

@media screen and (max-width: 960px) {
  .only-desktop-inline-flex-strict {
    display: none !important; } }

.only-desktop {
  display: block; }

@media screen and (max-width: 960px) {
  .only-desktop {
    display: none; } }

.only-desktop-strict {
  display: block !important; }

@media screen and (max-width: 960px) {
  .only-desktop-strict {
    display: none !important; } }

@media screen and (max-width: 960px) {
  .flex-grow-mobile {
    flex-grow: 1;
    flex-flow: 1; } }

.App > .app-header {
  display: flex;
  height: 64px;
  min-height: 64px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding-left: 64px; }
  @media screen and (max-width: 960px) {
    .App > .app-header {
      padding-left: 0px; } }

.App > .app-tabs {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 64px;
  max-width: 64px;
  z-index: 4;
  overflow: hidden; }
  @media screen and (max-width: 960px) {
    .App > .app-tabs {
      height: 50px;
      max-height: 50px;
      max-width: 100%;
      width: 100%;
      top: initial;
      bottom: 0px; } }

.App > .app-content {
  padding-top: 64px;
  margin-left: 64px; }
  @media screen and (max-width: 960px) {
    .App > .app-content {
      margin-left: 0px;
      padding-bottom: 50px; } }
  .App > .app-content > .app-layout {
    padding: 11px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; }
