.Jobs > ._header {
  font-size: 36px;
  margin: 9px 0px; }

.Jobs > ._view {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .Jobs > ._view > span {
    margin-right: 9px;
    color: #888888; }

@media screen and (min-width: 961px) {
  .Jobs > div > .lists.card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around; } }

.Jobs > div > ._page {
  display: flex;
  justify-content: center; }
